* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: grey;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

section {
  width: 80%;
  height: 100%;
  margin: 2vh auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

article {
  background: white;
  border: grey 5px solid;
  width: 50%;
  margin: 15px;
  text-align: center;
}

.explanation-1 {
  background: black;
  color: white;
}

.explanation-2 {
  background: red;
}

.explanation-3 {
  background: purple;
}

.explanation-4-and-5 {
  background: darkslateblue;
}

.explanation-6-and-7 {
  background: palevioletred;
}

.explanation-6-and-7 > article {
  width: 100%;
}

.explanation-6-and-7 > article:nth-of-type(2) {

}

.explanation-6-and-7 > article:nth-of-type(7) {

}

.explanation-6-and-7 > article:nth-of-type(13) {
    
}

.explanation-8-auto-fill {
  background: brown;
}

.explanation-8-auto-fit {
  background: brown;
}
